openapi: 3.0.1
info:
  title: Paystack
  description: The OpenAPI specification of the Paystack API that merchants and developers can harness to build financial solutions in Africa.
  version: 1.0.0
  contact:
    email: techsupport@paystack.com
servers:
  - url: https://api.paystack.co
    description: Base API endpoint
security:
  - bearerAuth: []
tags:
  - name: Transaction
    description: |
      A collection of endpoints for managing payments
    x-product-name: Transactions
  - name: Charge
    description: |
      A collection of endpoints for configuring and managing the payment channels when initiating a payment
    x-product-name: Charges
  - name: Bulk Charge
    description: |
      A collection of endpoints for creating and managing multiple recurring payments
    x-product-name: Bulk Charges
  - name: Subaccount
    description: |
      A collection of endpoints for creating and managing accounts for sharing a
      transaction with
    x-product-name: Subaccounts
  - name: Split
    description: |
      A collection of endpoints for spliting a transaction and managing the splits
    x-product-name: Transaction Splits
  - name: Terminal
    description: |
      A collection of endpoints for building delightful in-person payment experiences
    x-product-name: Terminal
  - name: Virtual Terminal
    description: |
      A collection of endpoints for building in-person payments without a physical terminal
    x-product-name: Virtual Terminal
  - name: Customer
    description: |
      A collection of endpoints for creating and managing customers on an integration
    x-product-name: Customers
  - name: Direct Debit
    description: |
      A collection of endpoints for managing Direct Debit
    x-product-name: Direct Debit
  - name: Dedicated Virtual Account
    description: |
      A collection of endpoints for creating and managing payment accounts for customers
    x-product-name: Dedicated Virtual Accounts
  - name: Apple Pay
    description: |
      A collection of endpoints for managing application's top-level domain or subdomain accepting payment via Apple Pay
    x-product-name: Apple Pay
  - name: Plan
    description: |
      A collection of endpoints for creating and managing recurring payment
      configuration
    x-product-name: Plans
  - name: Subscription
    description: |
      A collection of endpoints for creating and managing recurring payments
    x-product-name: Subscriptions
  - name: Transfer Recipient
    description: |
      A collection of endpoints for creating and managing beneficiaries that you send money to
    x-product-name: Transfer Recipients
  - name: Transfer
    description: |
      A collection of endpoints for automating sending money to beneficiaries
    x-product-name: Transfers
  - name: Balance
    description: |
      A collection of endpoints gaining insights into the amount on an integration
    x-product-name: Balance
  - name: Payment Request
    description: |
      A collection of endpoints for managing invoices for the payment of goods
      and services
    x-product-name: Payment Requests
  - name: Product
    description: |
      A collection of endpoints for creating and managing inventories
    x-product-name: Products
  - name: Storefront
    description: |
      A collection of endpoints for creating and managing storefronts
    x-product-name: Storefronts
  - name: Order
    description: |
      A collection of endpoints for creating and managing orders
    x-product-name: Orders
  - name: Page
    description: |
      A collection of endpoints for creating and managing links for the
      collection of payment for products
    x-product-name: Payment Pages
  - name: Settlement
    description: |
      A collection of endpoints for gaining insights into payouts
    x-product-name: Settlements
  - name: Integration
    description: |
      A collection of endpoints for managing some settings on an integration
    x-product-name: Integration
  - name: Refund
    description: |
      A collection of endpoints for creating and managing transaction reimbursement
    x-product-name: Refunds
  - name: Dispute
    description: |
      A collection of endpoints for managing transactions complaint made by customers
    x-product-name: Disputes
  - name: Bank
    description: |
      A collection of endpoints for managing bank details
    x-product-name: Banks
  - name: Miscellaneous
    description: |
      A collection of endpoints that provides utility functions
    x-product-name: Miscellaneous
paths:
  /transaction/initialize:
    post:
      tags:
        - Transaction
      summary: Initialize Transaction
      operationId: transaction_initialize
      description: Create a new transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionInitialize'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionInitialize'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInitializeResponse'
        '400':
          $ref: '#/components/responses/TransactionInitializeBadRequestResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transaction/charge_authorization:
    post:
      tags:
        - Transaction
      summary: Charge Authorization
      operationId: transaction_chargeAuthorization
      description: Charge all authorizations marked as reusable with this endpoint whenever you need to receive payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionChargeAuthorization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionChargeAuthorization'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeAuthorizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transaction/partial_debit:
    post:
      tags:
        - Transaction
      summary: Partial Debit
      operationId: transaction_partialDebit
      description: Retrieve part of a payment from a customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionPartialDebit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionPartialDebit'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPartialDebitResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transaction/verify/{reference}:
    get:
      tags:
        - Transaction
      summary: Verify Transaction
      operationId: transaction_verify
      description: Verify a previously initiated transaction using it's reference
      parameters:
        - name: reference
          in: path
          description: The transaction reference to verify
          required: true
          schema:
            type: string
          example: re4lyvq3s3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction:
    get:
      tags:
        - Transaction
      summary: List Transactions
      operationId: transaction_list
      description: List transactions that has occurred on your integration
      parameters:
        - in: query
          name: use_cursor
          description: A flag to indicate if cursor based pagination should be used
          schema:
            type: boolean
          example: true
        - in: query
          name: next
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the next set of data
          schema:
            type: string
        - in: query
          name: previous
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the previous set of data
          schema:
            type: string
        - in: query
          name: per_page
          schema:
            type: integer
          description: The number of records to fetch per request
        - in: query
          name: page
          schema:
            type: integer
          description: The offset to retrieve data from
        - in: query
          name: from
          description: The start date
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          description: The end date
          schema:
            type: string
            format: date-time
        - in: query
          name: status
          description: Filter transaction by status
          schema:
            type: string
            enum:
              - success
              - failed
              - abandoned
              - reversed
        - in: query
          name: source
          description: The origin of the payment
          schema:
            type: string
            enum:
              - merchantApi
              - checkout
              - pos
              - virtualTerminal
        - in: query
          name: terminal_id
          description: Filter transactions by a terminal ID
          schema:
            type: string
        - in: query
          name: virtual_account_number
          description: Filter transactions by a virtual account number
          schema:
            type: string
        - in: query
          name: customer_code
          description: Filter transactions by a customer code
          schema:
            type: string
        - in: query
          name: amount
          description: Filter transactions by a specific amount
          schema:
            type: integer
            format: int64
        - in: query
          name: settlement
          description: The settlement ID to filter for settled transactions
          schema:
            type: integer
            format: int64
        - in: query
          name: channel
          description: The payment method the customer used to complete the transaction
          schema:
            type: string
            enum:
              - card
              - pos
              - bank
              - dedicated_nuban
              - ussd
              - bank_transfer
        - in: query
          name: subaccount_code
          description: Filter transaction by subaccount code
          schema:
            type: string
        - in: query
          name: split_code
          description: Filter transaction by split code
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/{id}:
    get:
      tags:
        - Transaction
      summary: Fetch Transaction
      operationId: transaction_fetch
      description: Fetch a transaction to get its details
      parameters:
        - name: id
          in: path
          description: The ID of the transaction to fetch
          required: true
          schema:
            type: integer
            format: int64
          example: 4099260516
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFetchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/timeline/{id}:
    get:
      tags:
        - Transaction
      summary: Fetch Transaction Timeline
      operationId: transaction_timeline
      description: Fetch the steps taken from the initiation to the completion of a transaction
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the transaction to fetch
          schema:
            type: integer
            format: int64
          example: 3936799950
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionTimelineResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/totals:
    get:
      tags:
        - Transaction
      summary: Transaction Totals
      operationId: transaction_totals
      description: Get the total amount of all transactions
      parameters:
        - in: query
          description: The start date
          name: from
          schema:
            type: string
            format: date-time
          example: '2024-06-01T00:00:01Z'
        - in: query
          name: to
          description: The end date
          schema:
            type: string
            format: date-time
          example: '2024-06-30T13:36:54Z'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionTotalsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/export:
    get:
      tags:
        - Transaction
      summary: Export Transactions
      operationId: transaction_export
      x-operationId: transaction_exportTransaction
      description: Download transactions that occurred on your integration for a specific timeframe
      parameters:
        - in: query
          name: from
          description: The start date
          schema:
            type: string
            format: date-time
          example: '2024-06-01T00:00:01Z'
        - in: query
          name: to
          description: The end date
          schema:
            type: string
            format: date-time
          example: '2024-06-30T13:36:54Z'
        - in: query
          name: status
          description: Filter by the status of the transaction
          schema:
            type: string
            enum:
              - success
              - failed
              - abandoned
              - reversed
              - all
          example: success
        - in: query
          name: customer
          description: Filter by customer ID
          schema:
            type: number
          example: 123172416
        - in: query
          name: subaccount_code
          description: Filter by subaccount code
          schema:
            type: string
          example: ACCT_dskvlw3y3dMukmt
        - in: query
          name: settlement
          description: Filter by the settlement ID
          schema:
            type: integer
            format: int64
          example: 5687910
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionExportResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /charge:
    post:
      tags:
        - Charge
      summary: Create Charge
      operationId: charge_create
      description: Initiate a payment by integrating the payment channel of your choice.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ChargeCreate'
                - type: object
                  properties:
                    bank:
                      $ref: '#/components/schemas/Bank'
                - type: object
                  properties:
                    mobile_money:
                      $ref: '#/components/schemas/MobileMoney'
                - type: object
                  properties:
                    ussd:
                      $ref: '#/components/schemas/USSD'
                - type: object
                  properties:
                    eft:
                      $ref: '#/components/schemas/EFT'
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/ChargeCreate'
                - type: object
                  properties:
                    bank:
                      $ref: '#/components/schemas/Bank'
                - type: object
                  properties:
                    mobile_money:
                      $ref: '#/components/schemas/MobileMoney'
                - type: object
                  properties:
                    ussd:
                      $ref: '#/components/schemas/USSD'
                - type: object
                  properties:
                    eft:
                      $ref: '#/components/schemas/EFT'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_pin:
    post:
      tags:
        - Charge
      summary: Submit PIN
      operationId: charge_submitPin
      description: Submit PIN to continue a charge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitPin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitPin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeSubmitPinResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_otp:
    post:
      tags:
        - Charge
      summary: Submit OTP
      operationId: charge_submitOtp
      description: Submit OTP to complete a charge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitOTP'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitOTP'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeSubmitOtpResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_phone:
    post:
      tags:
        - Charge
      summary: Submit Phone
      operationId: charge_submitPhone
      description: Submit phone number when requested
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitPhone'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitPhone'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeSubmitPhoneResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_birthday:
    post:
      tags:
        - Charge
      summary: Submit Birthday
      operationId: charge_submitBirthday
      description: Submit the customer's birthday when requested
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitBirthday'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitBirthday'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeSubmitBirthdayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_address:
    post:
      tags:
        - Charge
      summary: Submit Address
      operationId: charge_submitAddress
      description: Send the details of the customer's address for address verification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitAddress'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitAddress'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/{reference}:
    get:
      tags:
        - Charge
      summary: Check pending charge
      operationId: charge_check
      description: |
        When you get `pending` as a charge status or if there was an exception when calling any of the `/charge` endpoints, wait 10 seconds or more, then make a check to see if its status has changed. Don't call too early as you may get a lot more pending than you should.
      parameters:
        - name: reference
          in: path
          required: true
          description: The reference of the ongoing transaction
          schema:
            type: string
          example: 5bwib5v6anhe9xa
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCheckPendingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge:
    post:
      tags:
        - Bulk Charge
      summary: Initiate Bulk Charge
      operationId: bulkCharge_initiate
      description: Charge multiple customers in batches
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BulkChargeInitiate'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BulkChargeInitiate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkChargeInitiateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Bulk Charge
      summary: List Bulk Charge Batches
      operationId: bulkCharge_list
      description: List all bulk charge batches.
      parameters:
        - in: query
          name: perPage
          description: Number of records to fetch per page
          schema:
            type: integer
        - in: query
          name: page
          description: The offset to retrieve data from
          schema:
            type: integer
        - in: query
          name: status
          description: Filter by the status of the charges
          schema:
            type: string
            enum:
              - active
              - paused
              - complete
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkChargeListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge/{code}:
    parameters:
      - name: code
        description: The code for the charge whose batches you want to retrieve
        in: path
        required: true
        schema:
          type: string
        example: BCH_180tl7oq7cayggh
    get:
      tags:
        - Bulk Charge
      summary: Fetch Bulk Charge Batch
      operationId: bulkCharge_fetch
      description: |
        This endpoint retrieves a specific batch code. It also returns useful information on its progress by 
        way of the `total_charges` and `pending_charges` attributes.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkChargeFetchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge/{code}/charges:
    get:
      tags:
        - Bulk Charge
      summary: List Charges in a Batch
      operationId: bulkCharge_charges
      description: This endpoint retrieves the charges associated with a specified batch code
      parameters:
        - name: code
          description: An code for the batch whose charges you want to retrieve
          in: path
          required: true
          schema:
            type: string
          example: BCH_180tl7oq7cayggh
        - in: query
          name: perPage
          description: Number of records to fetch per page
          schema:
            type: integer
        - in: query
          name: page
          description: The offset to retrieve data from
          schema:
            type: integer
        - in: query
          name: status
          description: Filter by the status of the charges
          schema:
            type: string
            enum:
              - success
              - failed
              - pending
              - error
              - inactive_authorization
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkChargeFetchBulkBatchChargesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge/pause/{code}:
    get:
      tags:
        - Bulk Charge
      summary: Pause Bulk Charge Batch
      operationId: bulkCharge_pause
      description: Pause the processing of a charge batch
      parameters:
        - name: code
          description: The batch code for the bulk charge you want to pause
          in: path
          required: true
          schema:
            type: string
          example: BCH_180tl7oq7cayggh
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkChargePauseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge/resume/{code}:
    get:
      tags:
        - Bulk Charge
      summary: Resume Bulk Charge Batch
      operationId: bulkCharge_resume
      description: Resume the processing of a previously paused charge batch
      parameters:
        - name: code
          description: The batch code for the bulk charge you want to pause
          in: path
          required: true
          schema:
            type: string
          example: BCH_180tl7oq7cayggh
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkChargeResumeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subaccount:
    post:
      tags:
        - Subaccount
      summary: Create Subaccount
      operationId: subaccount_create
      description: Create a subacount for a partner
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubaccountCreate'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubaccountCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Subaccount
      summary: List Subaccounts
      operationId: subaccount_list
      description: List subaccounts available on your integration
      parameters:
        - in: query
          name: perPage
          description: Number of records to fetch per request
          schema:
            type: integer
            default: 50
        - in: query
          name: page
          description: The offset to retrieve data from
          schema:
            type: integer
            default: 1
        - in: query
          name: active
          description: Filter by the state of the subaccounts
          schema:
            type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubaccountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subaccount/{code}:
    parameters:
      - name: code
        in: path
        description: The subaccount code you want to fetch
        required: true
        schema:
          type: string
        example: ACCT_6uujpqtzmnufzkw
    get:
      tags:
        - Subaccount
      summary: Fetch Subaccount
      operationId: subaccount_fetch
      description: Get details of a subaccount on your integration
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubaccountFetchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Subaccount
      summary: Update Subaccount
      operationId: subaccount_update
      description: Update a subaccount details on your integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubaccountUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubaccountUpdateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /split:
    post:
      tags:
        - Split
      summary: Create Split
      operationId: split_create
      description: Create a split configuration for transactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitCreate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Split
      summary: List Splits
      operationId: split_list
      description: List the transaction splits available on your integration
      parameters:
        - in: query
          name: subaccount_code
          description: Filter by subaccount code
          schema:
            type: string
          example: ACCT_dskvlw3y3dMukmt
        - name: name
          description: The name of the split
          in: query
          schema:
            type: string
        - name: active
          description: The status of the split
          in: query
          schema:
            type: boolean
        - in: query
          name: per_page
          schema:
            type: integer
          description: The number of records to fetch per request
        - in: query
          name: page
          schema:
            type: integer
          description: The offset to retrieve data from
        - in: query
          name: from
          description: The start date
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          description: The end date
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /split/{id}:
    get:
      tags:
        - Split
      summary: Fetch Split
      operationId: split_fetch
      description: Get details of a split configuration for a transaction
      parameters:
        - name: id
          in: path
          description: The ID of the split configuration to fetch
          required: true
          schema:
            type: integer
          example: 4896895
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitFetchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Split
      summary: Update Split
      operationId: split_update
      description: Update a split configuration for transactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitUpdate'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitUpdateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /split/{id}/subaccount/add:
    post:
      tags:
        - Split
      summary: Add Subaccount to Split
      operationId: split_addSubaccount
      description: Add a subaccount to a split configuration, or update the share of an existing subaccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the split configuration to fetch
          schema:
            type: integer
          example: 4896895
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitAddUpdateSubaccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /split/{id}/subaccount/remove:
    post:
      tags:
        - Split
      summary: Remove Subaccount from split
      operationId: split_removeSubaccount
      description: Remove a subaccount from a split configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
      parameters:
        - name: id
          in: path
          description: The ID of the split configuration to fetch
          required: true
          schema:
            type: integer
          example: 4896895
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitRemoveSubaccountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /terminal/{id}/event:
    post:
      tags:
        - Terminal
      summary: Send Event
      description: Send an event from your application to the Paystack Terminal
      operationId: terminal_sendEvent
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the Terminal the event should be sent to.
          schema:
            type: string
          example: Z0R4orOU
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalSendEvent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminalSendEvent'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /terminal/{terminal_id}/event/{event_id}:
    get:
      tags:
        - Terminal
      summary: Fetch Event Status
      description: Check the status of an event sent to the Terminal
      operationId: terminal_fetchEventStatus
      parameters:
        - name: terminal_id
          in: path
          required: true
          description: The ID of the Terminal the event should be sent to.
          schema:
            type: string
          example: Z0R4orOU
        - name: event_id
          in: path
          required: true
          description: The ID of the event that was sent to the Terminal
          schema:
            type: string
          example: 616d721e8c5cd40a0cdd54a6
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /terminal/{terminal_id}/presence:
    get:
      tags:
        - Terminal
      summary: Fetch Terminal Status
      description: Check the availiability of a Terminal before sending an event to it
      operationId: terminal_fetchTerminalStatus
      parameters:
        - name: terminal_id
          in: path
          required: true
          description: The ID of the Terminal the event should be sent to.
          schema:
            type: string
          example: Z0R4orOU
      responses:
        '200':
          $ref: '#/components/responses/TerminalGetStatusSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /terminal:
    get:
      tags:
        - Terminal
      summary: List Terminals
      operationId: terminal_list
      description: List the Terminals available on your integration
      parameters:
        - name: next
          in: query
          description: A cursor that indicates your place in the list. It can be used to fetch the next page of the list
          schema:
            type: string
        - name: previous
          in: query
          description: A cursor that indicates your place in the list. It should be used to fetch the previous page of the list after an intial next request
          schema:
            type: string
        - name: per_page
          in: query
          description: Specify how many records you want to retrieve per page
          schema:
            type: integer
            default: 50
      responses:
        '200':
          $ref: '#/components/responses/TerminalListsSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /terminal/{terminal_id}:
    parameters:
      - name: terminal_id
        in: path
        description: The ID of the Terminal the event should be sent to.
        required: true
        schema:
          type: string
        example: Z0R4orOU
    get:
      tags:
        - Terminal
      summary: Fetch Terminal
      description: Get the details of a Terminal
      operationId: terminal_fetch
      responses:
        '200':
          $ref: '#/components/responses/TerminalGetSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Terminal
      summary: Update Terminal
      operationId: terminal_update
      description: Update the details of a Terminal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalUpate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminalUpate'
      responses:
        '200':
          $ref: '#/components/responses/TerminalUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /terminal/commission_device:
    post:
      tags:
        - Terminal
      summary: Commission Terminal
      description: Activate your debug device by linking it to your integration
      operationId: terminal_commission
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalActivationToggle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminalActivationToggle'
      responses:
        '200':
          $ref: '#/components/responses/TerminalCommissionDeviceSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /terminal/decommission_device:
    post:
      tags:
        - Terminal
      summary: Decommission Terminal
      description: Unlink your debug device from your integration
      operationId: terminal_decommission
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalActivationToggle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminalActivationToggle'
      responses:
        '200':
          $ref: '#/components/responses/TerminalDecommissionDeviceSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /virtual_terminal:
    post:
      tags:
        - Virtual Terminal
      summary: Create Virtual Terminal
      description: Create a Virtual Terminal on your integration
      operationId: virtualTerminal_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualTerminalCreate'
      responses:
        '200':
          $ref: '#/components/responses/VirtualTerminalCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Virtual Terminal
      summary: List Virtual Terminals
      description: List Virtual Terminals on your integration
      operationId: virtualTerminal_list
      parameters:
        - name: perPage
          in: query
          description: The number of records to fetch per request
          schema:
            type: integer
          example: 75
        - name: page
          in: query
          description: The offset to retrieve data from
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/VirtualTerminalListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /virtual_terminal/{code}:
    parameters:
      - name: code
        in: path
        description: Code of the Virtual Terminal
        required: true
        schema:
          type: string
        example: VT_MCK5292Z
    get:
      tags:
        - Virtual Terminal
      summary: Fetch Virtual Terminal
      description: Fetch a Virtual Terminal on your integration
      operationId: virtualTerminal_fetch
      responses:
        '200':
          $ref: '#/components/responses/VirtualTerminalFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    put:
      tags:
        - Virtual Terminal
      summary: Update Virtual Terminal
      description: Update a Virtual Terminal on your integration
      operationId: virtualTerminal_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualTerminalUpdate'
      responses:
        '200':
          $ref: '#/components/responses/VirtualTerminalUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /virtual_terminal/{code}/deactivate:
    parameters:
      - name: code
        in: path
        description: Code of the Virtual Terminal
        required: true
        schema:
          type: string
        example: VT_MCK5292Z
    put:
      tags:
        - Virtual Terminal
      summary: Deactivate Virtual Terminal
      operationId: virtualTerminal_deactivate
      description: Deactivate a Virtual Terminal on your integration
      responses:
        '200':
          $ref: '#/components/responses/VirtualTerminalDeactivateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /virtual_terminal/{code}/destination/assign:
    parameters:
      - name: code
        in: path
        description: Code of the Virtual Terminal
        required: true
        schema:
          type: string
        example: VT_MCK5292Z
    post:
      tags:
        - Virtual Terminal
      summary: Assign Destination to Virtual Terminal
      operationId: virtualTerminal_destinationAssign
      description: Add a destination (WhatsApp number) to a Virtual Terminal on your integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualTerminalDestinationAssign'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VirtualTerminalDestinationAssign'
      responses:
        '200':
          $ref: '#/components/responses/VirtualTerminalDestinationAssignSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /virtual_terminal/{code}/destination/unassign:
    parameters:
      - name: code
        in: path
        description: Code of the Virtual Terminal
        required: true
        schema:
          type: string
        example: VT_MCK5292Z
    post:
      tags:
        - Virtual Terminal
      summary: Unassign Destination from Virtual Terminal
      operationId: virtualTerminal_destinationUnassign
      description: Unassign a destination (WhatsApp Number) from a Virtual Terminal on your integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualTerminalDestinationUnassign'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VirtualTerminalDestinationUnassign'
      responses:
        '200':
          $ref: '#/components/responses/VirtualTerminalDestinationUnassignSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /virtual_terminal/{code}/split_code:
    parameters:
      - name: code
        in: path
        description: Code of the Virtual Terminal
        required: true
        schema:
          type: string
        example: VT_MCK5292Z
    put:
      tags:
        - Virtual Terminal
      summary: Add Split Code to Virtual Terminal
      description: Add Split Code to Virtual Terminal
      operationId: virtualTerminal_addSplitCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualTerminalAddSplitCode'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VirtualTerminalAddSplitCode'
      responses:
        '200':
          $ref: '#/components/responses/VirtualTerminalAddSplitCodeSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server Error
    delete:
      tags:
        - Virtual Terminal
      summary: Remove Split Code from Virtual Terminal
      description: Remove Split Code from Virtual Terminal
      operationId: virtualTerminal_deleteSplitCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualTerminalDeleteSplitCode'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VirtualTerminalDeleteSplitCode'
      responses:
        '200':
          $ref: '#/components/responses/VirtualTerminalDeleteSplitCodeSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server Error
  /customer:
    post:
      tags:
        - Customer
      summary: Create Customer
      operationId: customer_create
      description: Create a customer on your integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Customer
      summary: List Customers
      operationId: customer_list
      description: List customers on your integration
      parameters:
        - name: use_cursor
          description: A flag to indicate if cursor based pagination should be used
          in: query
          schema:
            type: boolean
        - name: next
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the next set of data
          in: query
          schema:
            type: string
        - name: previous
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the previous set of data
          in: query
          schema:
            type: string
        - name: from
          description: The start date
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          description: The end date
          in: query
          schema:
            type: string
            format: date-time
        - name: perPage
          description: The number of records to fetch per request
          in: query
          schema:
            type: string
        - name: page
          in: query
          description: The offset to retrieve data from
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /customer/{code}:
    parameters:
      - name: code
        in: path
        required: true
        description: The code for the customer gotten from the response of the customer creation
        schema:
          type: string
        example: CUS_c6wqvwmvwopw4ms
    get:
      tags:
        - Customer
      summary: Fetch Customer
      operationId: customer_fetch
      description: Get details of a customer on your integration.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFetchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Customer
      summary: Update Customer
      operationId: customer_update
      description: Update a customer's details on your integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerUpdateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /customer/set_risk_action:
    post:
      tags:
        - Customer
      summary: Set Risk Action
      description: Set customer's risk action by whitelisting or blacklisting the customer
      operationId: customer_riskAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRiskAction'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerRiskAction'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerWhitelistBlacklistResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /customer/{code}/identification:
    parameters:
      - name: code
        in: path
        required: true
        description: The code for the customer gotten from the response of the customer creation
        schema:
          type: string
        example: CUS_c6wqvwmvwopw4ms
    post:
      tags:
        - Customer
      summary: Validate Customer
      operationId: customer_validate
      description: Validate a customer's identity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerValidate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerValidate'
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerValidateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /customer/authorization/initialize:
    post:
      tags:
        - Customer
      summary: Initialize Authorization
      description: Initiate a request to create a reusable authorization code for recurring transactions
      operationId: customer_initializeAuthorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAuthorizationInitializeRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerAuthorizationInitializeRequest'
      responses:
        '200':
          $ref: '#/components/responses/CustomerAuthorizationInitializeSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /customer/authorization/verify/{reference}:
    get:
      tags:
        - Customer
      summary: Verify Authorization
      description: Check the status of an authorization request
      operationId: customer_verifyAuthorization
      parameters:
        - name: reference
          in: path
          description: The reference returned in the initialization response
          required: true
          schema:
            type: string
          example: dfbzfotsrbv4n5s82t4mp5b5mfn51h
      responses:
        '200':
          $ref: '#/components/responses/CustomerAuthorizationVerifySuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /customer/authorization/deactivate:
    post:
      tags:
        - Customer
      summary: Deactivate Authorization
      operationId: customer_deactivateAuthorization
      description: Deactivate an authorization for any payment channel.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDeactivateAuthorization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerDeactivateAuthorization'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeactivateAuthorizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /customer/{id}/initialize-direct-debit:
    parameters:
      - name: id
        in: path
        required: true
        description: The ID of the customer to initialize the direct debit for
        schema:
          type: integer
        example: 297346561
    post:
      tags:
        - Customer
      summary: Initialize Direct Debit
      operationId: customer_initializeDirectDebit
      description: Initialize the process of linking an account to a customer for Direct Debit transactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInitializeDirectDebitRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerInitializeDirectDebitRequest'
      responses:
        '200':
          $ref: '#/components/responses/CustomerInitializeDirectDebitSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /customer/{id}/directdebit-activation-charge:
    put:
      tags:
        - Customer
      summary: Direct Debit Activation Charge
      operationId: customer_directDebitActivationCharge
      description: Trigger an activation charge on an inactive mandate on behalf of your customer
      parameters:
        - name: id
          in: path
          required: true
          description: The customer ID attached to the authorization
          schema:
            type: integer
          example: 297346561
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDirectDebitActivationChargeRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerDirectDebitActivationChargeRequest'
      responses:
        '200':
          $ref: '#/components/responses/CustomerDirectDebitActivationChargeSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /customer/{id}/directdebit-mandate-authorizations:
    get:
      tags:
        - Customer
      summary: Fetch Mandate Authorizations
      operationId: customer_fetchMandateAuthorizations
      description: Get the list of direct debit mandates associated with a customer
      parameters:
        - name: id
          in: path
          required: true
          description: The customer ID for the authorizations to fetch
          schema:
            type: integer
          example: 297346561
      responses:
        '200':
          $ref: '#/components/responses/CustomerFetchMandateAuthorizationsSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /directdebit/activation-charge:
    put:
      tags:
        - Direct Debit
      summary: Trigger Activation Charge
      description: Trigger activation charge for specified customers
      operationId: directdebit_triggerActivationCharge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitActivationChargeRequest'
      responses:
        '200':
          $ref: '#/components/responses/DirectDebitActivationChargeSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /directdebit/mandate-authorizations:
    get:
      tags:
        - Direct Debit
      summary: List Mandate Authorizations
      description: Get a list of all the direct debit mandates on your integration
      operationId: directdebit_listMandateAuthorizations
      parameters:
        - name: cursor
          in: query
          description: The cursor value of the next set of authorizations to fetch. You can get this from the meta object of the response
          schema:
            type: string
        - name: status
          in: query
          description: Filter by the authorization status
          schema:
            type: string
            enum:
              - pending
              - active
              - revoked
        - name: per_page
          in: query
          description: The number of authorizations to fetch per request
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/CustomerFetchMandateAuthorizationsSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /dedicated_account:
    post:
      tags:
        - Dedicated Virtual Account
      summary: Create Dedicated Account
      operationId: dedicatedAccount_create
      description: Create a dedicated virtual account for an existing customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountCreate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedNubanCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Dedicated Virtual Account
      summary: List Dedicated Accounts
      operationId: dedicatedAccount_list
      description: List dedicated virtual accounts available on your integration.
      parameters:
        - name: active
          in: query
          description: Status of the dedicated virtual account
          schema:
            type: boolean
          example: true
        - name: customer
          in: query
          description: The customer's ID
          schema:
            type: integer
          example: 297346561
        - name: currency
          in: query
          description: The currency of the dedicated virtual account
          schema:
            type: string
            enum:
              - NGN
              - GHS
        - name: provider_slug
          in: query
          description: The bank's slug in lowercase, without spaces
          schema:
            type: string
          example: titan-paystack
        - name: bank_id
          in: query
          description: The bank's ID
          schema:
            type: string
          example: '035'
        - name: perPage
          in: query
          description: The number of records to fetch per request
          schema:
            type: integer
            default: 50
        - name: page
          in: query
          description: The offset to retrieve data from
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedNubanListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /dedicated_account/assign:
    post:
      tags:
        - Dedicated Virtual Account
      summary: Assign Dedicated Account
      operationId: dedicatedAccount_assign
      description: With this endpoint, you can create a customer, validate the customer, and assign a DVA to the customer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountAssign'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountAssign'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /dedicated_account/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: ID of dedicated virtual account
        schema:
          type: string
    get:
      tags:
        - Dedicated Virtual Account
      summary: Fetch Dedicated Account
      operationId: dedicatedAccount_fetch
      description: Get details of a dedicated virtual account on your integration.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedNubanFetchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    delete:
      tags:
        - Dedicated Virtual Account
      summary: Deactivate Dedicated Account
      operationId: dedicatedAccount_deactivate
      description: Deactivate a dedicated virtual account on your integration.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedNubanDeactivateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /dedicated_account/requery:
    parameters:
      - name: account_number
        description: Virtual account number to requery
        in: query
        schema:
          type: string
        example: '0033322211'
      - name: provider_slug
        description: The bank's slug in lowercase, without spaces.
        in: query
        schema:
          type: string
        example: titan-paystack
      - name: date
        description: The day the transfer was made
        in: query
        schema:
          type: string
          format: date-time
    get:
      tags:
        - Dedicated Virtual Account
      summary: Requery Dedicated Account
      operationId: dedicatedAccount_requery
      description: Requery Dedicated Virtual Account for new transactions
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /dedicated_account/split:
    post:
      tags:
        - Dedicated Virtual Account
      summary: Split Dedicated Account Transaction
      operationId: dedicatedAccount_addSplit
      description: Split a dedicated virtual account transaction with one or more accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    delete:
      tags:
        - Dedicated Virtual Account
      summary: Remove Split from Dedicated Account
      operationId: dedicatedAccount_removeSplit
      description: If you've previously set up split payment for transactions on a dedicated virtual account, you can remove it with this endpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountRemoveSplit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountRemoveSplit'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /dedicated_account/available_providers:
    get:
      tags:
        - Dedicated Virtual Account
      summary: Fetch Bank Providers
      operationId: dedicatedAccount_availableProviders
      description: Get available bank providers for a dedicated virtual account
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /apple-pay/domain:
    post:
      tags:
        - Apple Pay
      summary: Register Domain
      description: |
        Register a top-level domain or subdomain for your Apple Pay integration.

        > This endpoint can only be called with one domain or subdomain at a time.
      operationId: applePay_registerDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayParam'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApplePayParam'
      responses:
        '200':
          $ref: '#/components/responses/ApplePayOkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Apple Pay
      summary: List Domains
      description: Lists all registered domains on your integration. Returns an empty array if no domains have been added.
      operationId: applePay_listDomain
      parameters:
        - name: use_cursor
          in: query
          description: A flag to indicate if cursor based pagination should be used
          schema:
            type: boolean
          example: true
        - name: next
          in: query
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the next set of data
          schema:
            type: string
        - name: previous
          in: query
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the previous set of data
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    delete:
      tags:
        - Apple Pay
      summary: Unregister Domain
      description: |
        Unregister a top-level domain or subdomain previously used for your Apple
        Pay integration.
      operationId: applePay_unregisterDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayParam'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApplePayParam'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /plan:
    post:
      tags:
        - Plan
      summary: Create Plan
      operationId: plan_create
      description: Create a plan for recurring payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PlanCreate'
      responses:
        '200':
          $ref: '#/components/responses/PlanCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Plan
      summary: List Plans
      operationId: plan_list
      description: List all recurring payment plans
      parameters:
        - in: query
          name: perPage
          description: Number of records to fetch per page
          schema:
            type: integer
        - in: query
          name: page
          description: The section to retrieve
          schema:
            type: integer
        - in: query
          name: interval
          description: Specify interval of the plan
          schema:
            type: string
            enum:
              - daily
              - weekly
              - monthly
              - biannually
              - annually
        - in: query
          name: amount
          schema:
            type: integer
          description: The amount on the plans to retrieve
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/PlanListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /plan/{code}:
    parameters:
      - name: code
        in: path
        required: true
        description: The plan code you want to fetch
        schema:
          type: string
        example: PLN_gx2wn530m0i3w3m
    get:
      tags:
        - Plan
      summary: Fetch Plan
      operationId: plan_fetch
      description: Get the details of a payment plan
      responses:
        '200':
          $ref: '#/components/responses/PlanFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Plan
      summary: Update Plan
      description: Update a plan details on your integration
      operationId: plan_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PlanUpdate'
      responses:
        '200':
          $ref: '#/components/responses/PlanUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subscription:
    post:
      tags:
        - Subscription
      summary: Create Subscription
      description: Create a subscription a customer
      operationId: subscription_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionCreate'
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Subscription
      summary: List Subscriptions
      description: List all subscriptions available on your integration
      operationId: subscription_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: plan
          description: Plan ID
          schema:
            type: integer
          example: 2697466
        - in: query
          name: customer
          schema:
            type: string
          description: Customer ID
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subscription/{code}:
    parameters:
      - name: code
        in: path
        required: true
        description: The subscription code for the subscription you want to fetch
        schema:
          type: string
        example: SUB_5co81xgmwg78x3d
    get:
      tags:
        - Subscription
      summary: Fetch Subscription
      description: Get details of a customer's subscription
      operationId: subscription_fetch
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subscription/disable:
    post:
      tags:
        - Subscription
      summary: Disable Subscription
      description: Disable a subscription on your integration
      operationId: subscription_disable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionDisableSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /subscription/enable:
    post:
      tags:
        - Subscription
      summary: Enable Subscription
      description: Enable a subscription on your integration
      operationId: subscription_enable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /subscription/{code}/manage/link:
    get:
      tags:
        - Subscription
      summary: Generate Update Subscription Link
      description: Generate a link for updating the card on a subscription
      operationId: subscription_manageLink
      parameters:
        - name: code
          in: path
          required: true
          description: Subscription code
          schema:
            type: string
          example: qlgwhpyq1ts9nsw
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /subscription/{code}/manage/email:
    post:
      tags:
        - Subscription
      summary: Send Update Subscription Link
      description: Email a customer a link for updating the card on their subscription
      operationId: subscription_manageEmail
      parameters:
        - name: code
          in: path
          required: true
          description: Subscription code
          schema:
            type: string
          example: qlgwhpyq1ts9nsw
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transferrecipient:
    post:
      tags:
        - Transfer Recipient
      summary: Create Transfer Recipient
      description: Creates a new recipient. A duplicate account number will lead to the retrieval of the existing record.
      operationId: transferrecipient_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRecipientCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferRecipientCreate'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRecipientCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Transfer Recipient
      summary: List Transfer Recipients
      description: List transfer recipients available on your integration
      operationId: transferrecipient_list
      parameters:
        - in: query
          name: use_cursor
          description: A flag to indicate if cursor based pagination should be used
          schema:
            type: boolean
        - in: query
          name: next
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the next set of data
          schema:
            type: string
        - in: query
          name: previous
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the previous set of data
          schema:
            type: string
        - in: query
          name: per_page
          schema:
            type: integer
          description: The number of records to fetch per request
        - in: query
          name: page
          schema:
            type: integer
          description: The offset to retrieve data from
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRecipientListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transferrecipient/bulk:
    post:
      tags:
        - Transfer Recipient
      summary: Bulk Create Transfer Recipient
      description: |
        Create multiple transfer recipients in batches. A duplicate account number will lead to the retrieval of the existing record.
      operationId: transferrecipient_bulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRecipientBulk'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferRecipientBulk'
      responses:
        '200':
          description: Sucessful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRecipientBulkCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transferrecipient/{code}:
    parameters:
      - name: code
        description: Transfer recipient code
        in: path
        required: true
        schema:
          type: string
        example: RCP_5ap8rcimmcj8lbi
    get:
      tags:
        - Transfer Recipient
      summary: Fetch Transfer recipient
      description: Fetch the details of a transfer recipient
      operationId: transferrecipient_fetch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRecipientFetchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Transfer Recipient
      summary: Update Transfer Recipient
      description: Update the details of a transfer recipient
      operationId: transferrecipient_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRecipientUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferRecipientUpdate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRecipientUpdateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    delete:
      tags:
        - Transfer Recipient
      summary: Delete Transfer Recipient
      description: Delete a transfer recipient (sets the transfer recipient to inactive)
      operationId: transferrecipient_delete
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRecipientDeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer:
    post:
      tags:
        - Transfer
      summary: Initiate Transfer
      description: Send money to your customers
      operationId: transfer_initiate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferInitiate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferInitiate'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Transfer
      summary: List Transfers
      description: List the transfers made on your integration
      operationId: transfer_list
      parameters:
        - in: query
          name: use_cursor
          description: A flag to indicate if cursor based pagination should be used
          schema:
            type: boolean
          example: true
        - in: query
          name: next
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the next set of data
          schema:
            type: string
        - in: query
          name: previous
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the previous set of data
          schema:
            type: string
        - in: query
          name: per_page
          schema:
            type: integer
          description: The number of records to fetch per request
        - in: query
          name: page
          schema:
            type: integer
          description: The offset to retrieve data from
        - in: query
          name: from
          description: The start date
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          description: The end date
          schema:
            type: string
            format: date-time
        - in: query
          name: recipient
          description: Filter transfer by the recipient code
          schema:
            type: string
        - in: query
          name: status
          description: Filter transfer by status
          schema:
            type: string
            default: pending
            enum:
              - pending
              - success
              - failed
              - otp
              - abandoned
              - reversed
              - blocked
              - rejected
              - received
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer/finalize_transfer:
    post:
      tags:
        - Transfer
      summary: Finalize Transfer
      description: Finalize an initiated transfer
      operationId: transfer_finalize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferFinalize'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferFinalize'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transfer/bulk:
    post:
      tags:
        - Transfer
      summary: Initiate Bulk Transfer
      description: |
        Batch multiple transfers in a single request.

        You need to disable the Transfers OTP requirement to use this endpoint.
      operationId: transfer_bulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferBulk'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferBulk'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferBulkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transfer/{code}:
    parameters:
      - name: code
        description: Transfer code
        in: path
        required: true
        schema:
          type: string
        example: TRF_1ptvuv321ahaa7q
    get:
      tags:
        - Transfer
      summary: Fetch Transfer
      description: Get details of a transfer on your integration
      operationId: transfer_fetch
      responses:
        '200':
          description: Succesful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferFetchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer/verify/{reference}:
    get:
      tags:
        - Transfer
      summary: Verify Transfer
      description: Verify the status of a transfer on your integration
      operationId: transfer_verify
      parameters:
        - name: reference
          description: Transfer reference
          in: path
          required: true
          schema:
            type: string
          example: acv_9ee55786-2323-4760-98e2-6380c9cb3f67
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferVerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer/export:
    get:
      tags:
        - Transfer
      summary: Export Transfers
      description: Export a list of transfers carried out on your integration
      operationId: transfer_exportTransfer
      parameters:
        - in: query
          name: recipient
          description: Export transfer by the recipient code
          schema:
            type: string
        - in: query
          name: status
          description: Export transfer by status
          schema:
            type: string
            default: pending
            enum:
              - pending
              - success
              - failed
              - otp
              - abandoned
              - reversed
              - blocked
              - rejected
              - received
          example: success
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer/resend_otp:
    post:
      tags:
        - Transfer
      summary: Resend OTP for Transfer
      description: Generates and send a new OTP to customer in the event they are having trouble receiving one.
      operationId: transfer_resendOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferResendOTP'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferResendOTP'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResendsOtpResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transfer/disable_otp:
    post:
      tags:
        - Transfer
      summary: Disable OTP for Transfers
      description: |
[...]
